
  <li class="input__item" data-uuid={{uuid}}>
     <p class="name">{{data.name}}</p>
     <p class="amount" >{{data.amount}}</p>
     <p class="purpose">{{data.purpose}}</p>
     <p class="periodicity">{{data.periodicity}}</p>
     <div class="edit input__edit" data-id="edit"></div>
     <div class="delete input__delete" data-id="delete"></div>
  </li>