<li class="exp-item expenses__item" data-uuid={{uuid}}>

  <form action="#" class="exp-inputs-line exp-item__inputs-line">
    <input type="text" name="name" class="exp-inputs-line__name" value="{{data.name}}" data-id="edit-name" maxlength="20" disabled>
    <input type="number" name="amount" class="exp-inputs-line__amount" value={{data.amount}} data-id="edit-amount" disabled>
    <select name="purpose" data-id="edit-purpose" class="exp-inputs-line__purpose" disabled>
      <option value="1" {{compareStrings data.purpose 'Ком.услуги' 'selected'}}>Ком.услуги</option>
      <option value="2" {{compareStrings data.purpose 'Питание' 'selected'}}>Питание</option>
      <option value="3" {{compareStrings data.purpose 'Разное' 'selected'}}>Разное</option>
    </select>
    <select name="periodicity" data-id="edit-periodicity" class="exp-inputs-line__periodicity" disabled>
      <option value="1" {{compareStrings data.periodicity 'Ежемесячные' 'selected'}}>Ежемесячные</option>
      <option value="2" {{compareStrings data.periodicity 'Каждодневные' 'selected'}}>Каждодневные</option>
      <option value="3" {{compareStrings data.periodicity 'КЕШ' 'selected'}}>КЕШ</option>
    </select>
  </form>

  <div class="item-button item-button__edit" data-id="edit"></div>
  <div class="item-button item-button__delete" data-id="delete"></div>
  <div class="item-button item-button__confirm item-button--hidden" data-id="confirm"></div>
  <div class="item-button item-button__cancel item-button--hidden" data-id="cancel"></div>


</li>