
  <li class="exp-item expenses__item" data-uuid={{uuid}}>
     <p class="exp-item__name">{{data.name}}</p>
     <p class="exp-item__amount" >{{data.amount}}</p>
     <p class="exp-item__purpose">{{data.purpose}}</p>
     <p class="exp-item__periodicity">{{data.periodicity}}</p>
     <div class="exp-item__edit" data-id="edit"></div>
     <div class="exp-item__delete" data-id="delete"></div>
  </li>
